@model Petanque.Model.Competition.Competition
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bracket.css" rel="stylesheet" type="text/css" />
        <title>title</title>
    </head>
<body>
    @Html.Partial("PartialNode", Model.EndNode)
</body>
</html>
