@model Petanque.Web.Models.CompetitionDto
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Detail</h2>
<div>
    <fieldset>
        @Html.DisplayFor(x => x.Nom)
        @Html.TextBoxFor(x => x.Nom)
    </fieldset>
</div>
