@model System.Collections.Generic.IEnumerable<Petanque.Web.Models.CompetitionDto>
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Liste Competitions";
    
}
<table class="table">
    @foreach (var competitionDto in Model)
    {
        <tr>
            <td>@Html.ActionLink(competitionDto.Nom, "GetTree", new { competitionDto.Id })
            </td>
            <td>@Html.ActionLink("Edit", "Edit", new { competitionDto.Id })
            </td>
            <td>@Html.ActionLink("Delete", "Delete", new { competitionDto.Id })
            </td>
        </tr> 
    }
</table>
<p>
    @Html.ActionLink("Add Competition", "Create")
</p>
