@model System.Collections.Generic.IEnumerable<Petanque.Web.Models.CompetitionDto>
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Liste des tournois";
    
}
<table class="table">
    @foreach (var competitionDto in Model)
    {
        <tr>
            <td>@Html.ActionLink(competitionDto.Nom, "Select", new { id = competitionDto.Id })
            </td>
            <td>@Html.ActionLink("Select", "Select", new { competitionDto.Id })
            </td>
            <td>@Html.ActionLink("Delete", "Delete", new { competitionDto.Id })
            </td>
        </tr> 
    }
</table>
<p>
    @Html.ActionLink("Add Competition", "Create", new { }, new { @class = "btn btn-inverse" })
</p>
