@model Petanque.Model.Competition.Node
@{
    bool isWinner = false;
    bool isLoser = false;

    if (Model.Team != null && Model.ParentNode != null && Model.ParentNode.Team != null)
    {
        isWinner = Model.ParentNode.Team.Id == Model.Team.Id;
        isLoser = Model.ParentNode.Team.Id != Model.Team.Id;
    }

    bool isNotPlayed = !isWinner && !isLoser;


    string content = Model.Team != null ? Model.Team.Name : "En attente";

    if (Model.Team != null)
    {
        if (isNotPlayed)
        {
    <script>
        $(document).ready(function () {
            $("#Team-@Model.Team.Number").click(function () {
                $("#tree").load("@Url.Action("SetWinnerAjax", "Competition", new { id = Model.CompetitionId, teamId = Model.Team.Id })");
            });
        });
    </script>
    <a id="Team-@Model.Team.Number">@Model.Team.Name</a>
    @*@Html.ActionLink(Model.Team.Name, "SetWinner", "Competition", new { id = Model.CompetitionId, teamId = Model.Team.Id }, new { id = "refresh" })*@
        }
        else if (isWinner)
        {
    @Model.Team.Name
        }
        else if (isLoser)
        {
    @Model.Team.Name
        }
    }
    else
    {
    @content
    }
}
