@model Petanque.Web.Models.CompetitionDto
@{
    Layout = "../Shared/_Layout.cshtml";
}
<h2>
    Tournoi @Model.Nom
</h2>

@Html.Partial("PartialNode", Model.Node)

@Html.ActionLink(Model.IsCryingCompetion ? "Tournoi principal" : "Consolante", "GetTree", "Competition", new {id = Model.AffiliateCompetition}, null)
