@model IEnumerable<Petanque.Web.Models.TeamDto>
<p>
    Nombre equipes : @Model.Count()
</p>
<table class="table">
    
    @foreach (var teamDto in Model)
    {
        <tr>
            <td>@teamDto.Nom</td>
            <td>@Html.ActionLink("Edit", "Edit", "Team", new { id = teamDto.Id }, null)</td>
        </tr>
    }
</table>
