@model Petanque.Web.Models.TeamDto
@{
    Layout = "../Shared/_Layout.cshtml";
}
<h2>
    Add Team</h2>
<div>
    @using (Html.BeginForm("Create", "Team", "POST"))
    {
        <fieldset>
            @Html.HiddenFor(x => Model.CompetitionId)
            @Html.DisplayFor(x => Model.Nom)
            @Html.TextBoxFor(x => Model.Nom)
        </fieldset>
        <p>
            <input type="submit" value="Save" />
        </p>
    }
</div>
