@using Petanque.Web.Extensions
@model Petanque.Web.Models.CreateTeamDto
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Ajouter équipe";
}
<div id="target">
    @Html.Partial("PartialCreate", Model)
</div>
